.apple-space-page {
  padding: 24px;
  background-color: #f9f9f9;
}

.header-section {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.page-title {
  margin: 0;
  margin-left: 8px;
  font-size: 24px;
  color: #333;
}

.controls-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.controls-wrapper {
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: space-between;
}

.filtrsearch{
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: space-between;
}

.search-input {
  max-width: 300px;
  flex-grow: 1;
}

.records-container.grid-view .record-card {
  height: 100%;
}

.records-container.list-view .record-card {
  display: flex;
  flex-direction: row;
}

.record-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.record-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.record-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.record-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 8px;
}

.record-time {
  font-size: 14px;
  color: #888;
  margin-bottom: 12px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-stats {
  font-size: 14px;
  color: #555;
}










.cabinet-card, .space-card {
  background: #ffffff;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.cabinet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.cabinet-title, .space-title {
  font-weight: 600;
}

.cabinet-content{
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabinet-content-list{
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cabinet-image, .space-logo {
  width: 116px;
  height: 116px;
  object-fit: cover;
  border-radius: 4px;
}

.cabinet-footer, .space-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabinet-avatars {
  margin-left: 8px;
}

.favorite-icon {
  color: #faad14;
}

.navigate-icon {
  color: #1677ff;
}